name: terraform-ci/cd

#trigger manual
on:
  workflow_dispatch:
    inputs:
      apply:
        description: 'Aplicar mudanças após o plan?'
        required: true
        default: 'false'
        type: choice
        options:
          - true
          - false 
    
    destroy:
        description: 'Destruir a infra?'
        required: true
        default: 'false'
        type: choice
        options:
          - true
          - false 

    plan-destroy:
        description: 'Planejar o destroy?'
        required: true
        default: 'false'
        type: choice
        options:
          - true
          - false     

permissions:
  id-token: write
  contents: read

  
jobs:
  job1:
  
    name: 'Terraform CI'
    runs-on: ubuntu-latest
    

    defaults:
      run:
        working-directory: ./infra
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: HashiCorp - Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        env:
          TF_VAR_ip_ssh: ${{ secrets.SSH_PARA_IP }}
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        if: github.event.inputs.apply == 'true'
        run: terraform apply -auto-approve tfplan
        
      - name: Plan Destroy
        run: terraform plan -destroy -out=tfplan.tfout
        if: github.event.inputs.plan_destroy == 'true'

      - name: Terraform Destroy
        run: terraform apply -destroy -auto-approve tfplan.tfout
        if: github.event.inputs.destroy == 'true'

      


